@import url(./reset.css); /* Estilos gerais */

/* Estilos para dispositivos 374px  */
@media screen and (min-width: 360px) {
  body {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
    height: auto;
  }

  .container .title {
    height: 5.5em;
    width: 100vw;
    background: var(--colors-title);
    z-index: -1;
  }

  .container .title .logo-title {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("/assets/images/mandatrends.png") transparent top 2em left
      1em / 25% no-repeat;
    filter: invert(100%) brightness(1000%);
  }

  .container .title .art-title {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("/assets/images/mulher.png") transparent top -0.5em right / 100%
      no-repeat;
    filter: brightness(120%);
    z-index: 1;
  }

  .container .main {
    max-width: 100%;
    margin: 1em 1em 0;
  }

  .main .content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    height: auto;
    margin: 0;
  }

  .content-main img {
    width: 100%;
    height: 25vh;
  }

  .main .content-main hr {
    background: var(--colors-first);
  }

  .container .secondary {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    margin: 1em;
    gap: 0.75em;
  }

  .secondary .numberOne {
    height: auto;
  }
  .secondary .numberOne img {
    width: 90vw;
    height: 25vh;
    object-fit: fill;
    object-position: top;
  }

  .secondary .numberTwo {
    height: auto;
  }
  .secondary .numberTwo img {
    width: 90vw;
    height: 25vh;
    object-fit: cover;
    object-position: center;
  }

  .secondary .numberOne hr {
    background: var(--colors-second);
  }

  .secondary .numberTwo hr {
    background: var(--colors-third);
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
  }

  .container-footer .logo-mandarin {
    display: flex;
    width: 100%;
    padding: 1em;
    margin: auto;
    background: var(--colors-footer);
  }
  .container-footer .logo-mandarin img {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }
  .container-footer .alrights {
    text-align: center;
    margin: 0.5em auto;
    line-height: 0.5em;
  }
  .alrights span a:hover {
    color: #fa7132;
  }
  .alrights span a:checked {
    color: #fa7132;
  }
}

@media screen and (min-width: 425px) {
  .container .title {
    height: 12vh;
  }
}
/* Estilos para dispositivos móveis 540px de largura*/
@media screen and (min-width: 540px) {
  .container .title {
    height: 17vh;
  }
  .container .title .logo-title {
    background: url("/assets/images/mandatrends.png") transparent top 2.5em left
      1.5em / 25% no-repeat;
  }

  .container .title .art-title {
    background: url("/assets/images/mulher.png") transparent top right 0.5em /
      100% no-repeat;
  }

  .container .main {
    display: flex;
    flex-direction: column;
    margin: 1em;
    height: auto;
  }
  .container .secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100vw;
    margin: 1em;
  }

  .secondary .numberOne {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .secondary .numberOne img {
    width: 45vw;
    height: 25vh;
    object-fit: cover;
    object-position: center;    
  }

  .secondary .numberTwo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .secondary .numberTwo img {
    width: 45vw;
    height: 25vh;
    object-fit: cover;
    object-position: center;
  }
  
}

@media screen and (min-width: 668px) {
 
}
