@import url(./reset.css); /* Estilos gerais */

@media screen and (min-width: 300px) {
  body {
    height: 100vh;
    max-width: 1024px;
    background-color: #fff;
  }

  /*---Conteudo do Container---*/
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    max-width: 1024px;
    transition: height 0.5s ease all;
    background-color: #fff;
  }

  /*--------Título-------*/

  .container .title {
    position: relative;
    width: 100vw;
    min-height: 9vh;
    background: var(--colors-title);
    transition: height 0.5s ease;
  }

  .container .title .logo-title {
    max-width: 100%;
    height: auto;
  }

  .container .title .logo-title img {
    position: absolute;
    width: 25%;
    height: auto;
    filter: invert(100%) brightness(1000%);
    top: 1.5em;
    left: 1.5em;
  }

  .container .title .art-title {
    display: flex;
    width: 100%;
  }

  .container .title .art-title img {
    position: absolute;
    top: -0.5em;
    height: auto;
    width: 100%;
    filter: brightness(120%);
  }

  /*-------Section Main-------*/
  .container .main {
    max-width: 100%;
    margin: 1em 1em 0;
  }

  .main .content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    height: auto;
    margin: 0;
  }

  .content-main img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top center;
    z-index: 1;
  }

  .main .content-main hr {
    background: var(--colors-first);
  }

  /*--Section Secondary--*/
  .container .secondary {
    max-width: 100%;
  }

  .secondary .numberOne {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    gap: 0.25em;
    margin: 1em;
  }

  .secondary .numberOne img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center top;
  }

  .secondary .numberTwo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    gap: 0.25em;
    margin: 1em;
  }

  .secondary .numberTwo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
  }

  .secondary .numberOne hr {
    background: var(--colors-second);
  }

  .secondary .numberTwo hr {
    background: var(--colors-third);
  }

  /*------Footer------*/
  .container-footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
  }

  .container-footer .logo-mandarin {
    display: flex;
    width: 100%;
    padding: 1em;
    margin: auto;
    background: var(--colors-footer);
  }
  .container-footer .logo-mandarin img {
    width: 40%;
    height: auto;
    margin: 0 auto;
  }
  .container-footer .alrights {
    text-align: center;
    margin: 0.5em auto;
    line-height: 0.5em;
  }
  .alrights span a:hover {
    color: #fa7132;
  }
  .alrights span a:checked {
    color: #fa7132;
  }

  .container-footer span {
    color: #9a9999;
    font-style: normal;
  }
}

@media screen and (min-width: 375px) {
  .container .title {
    min-height: 10vh;
  }
}

@media screen and (min-width: 425px) {
  .container .title {
    min-height: 11vh;
  }

  .container .title .art-title img {
    top: -1em;
  }

  .secondary .numberOne img {
    width: 75vw;
    height: 25vh;
    object-fit: cover;
    object-position: top;
  }

  .secondary .numberTwo img {
    width: 75vw;
    height: 25vh;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (min-width: 540px) {
  .container .title {
    min-height: 14vh;
  }
  .container .secondary {
    max-width: 100%;
    gap: 1em;
    margin: 1em;
  }

  .secondary .numberOne img {
    width: 75vw;
    height: 25vh;
    object-fit: fill;
    object-position: center;
  }
}

@media screen and (min-width: 668px) {
  .container .title {
    min-height: 14vh;
  }

  .container .main {
    margin: 1.75em;
    max-width: 100%;
  }

  .main .content-main img {
    width: 100%;
    max-height: auto;
    object-fit: cover;
    object-position: right;
  }

  .container .secondary {
    display: flex;
    flex-direction: row;
    gap: 1.25em;
    margin: 0;
  }

  .secondary .numberOne {
    height: auto;
    gap: 0.5em;
    margin: 0;
  }
  .secondary .numberTwo {
    height: auto;
    gap: 0.5em;
    margin: 0;
  }

  .secondary .numberOne img {
    max-width: 100%;
    max-height: 25vh;
    object-fit: cover;
    object-position: top;
    padding: 0;
  }

  .secondary .numberTwo img {
    max-width: 100%;
    max-height: 25vh;
    object-fit: cover;
    object-position: center;
    padding: 0;
  }

  .container h1 {
    font-size: 1.5em;
  }
  .container p {
    font-size: 1em;
  }

  hr {
    height: 0.35em;
  }

  .container .secondary hr {
    width: 60%;
  }

  .container span {
    font-style: italic;
    font-size: 0.75em;
    margin: 0.75em 0;
  }

  .container .secondary {
    max-width: 100vw;
    margin: 2em;
    gap: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .container .title {
    min-height: 20vh;
  }

  .container .title .logo-title img {
    top: 2.5em;
    left: 2em;
  }

  .container .title .art-title img {
    top: -1.5em;
  }

  .container .main {
    width: 100%;
    
  }

  .container .main .content-main {
    max-width: 100vw;
    margin: 0;
    padding: 0 2em;
    gap: 0.5em;
  }

  .container .secondary {
    max-width: 100vw;
    margin: 2em;
  }

  .secondary .numberOne {
    height: auto;
    gap: 0.5em;
    margin: 0;
  }
  .secondary .numberTwo {
    height: auto;
    gap: 0.5em;
    margin: 0;
  }

  .secondary .numberOne img {
    max-width: 100%;
    max-height: 25vh;
    object-fit: fill;
    object-position: top;
    padding: 0;
  }

  .secondary .numberTwo img {
    max-width: 100%;
    max-height: 30vh;
    object-fit: cover;
    object-position: center;
    padding: 0;
  }

  .container-footer .alrights {
    margin: 0.75em auto;
    line-height: 0.975em;
  }

  .container-footer span {
    font-size: 0.875em;
    font-style: normal;
  }
}

@media screen and (min-width: 1024px) {
  .container .title {
    min-height: 24vh;
  }

  .container .title .art-title img {
    top: -2em;
  }

  .container .title .logo-title img {
    top: 3.5em;
    left: 2em;
  }
  .container .main {
    margin: 3em 3em 0;
  }

  .container .main .content-main {
    max-width: 100vw;
    margin: 0;
    padding: 0 3em;
    gap: 0.5em;
  }

  .content-main img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .container .secondary {
    max-width: 100vw;
    margin: 3em;
    gap: 1.5em;
  }
}
